{:deps
 {camel-snake-kebab/camel-snake-kebab #:mvn{:version "0.4.2"},
  cljs-ajax/cljs-ajax #:mvn{:version "0.8.3"},
  codox/codox #:mvn{:version "0.10.7"},
  com.stuartsierra/dependency #:mvn{:version "1.0.0"},
  funcool/promesa #:mvn{:version "6.0.2"},
  hodgepodge/hodgepodge #:mvn{:version "0.1.3"},
  keechma.next/toolbox
  {:git/url "https://github.com/keechma/keechma-next-toolbox.git",
   :sha "ffd6b5c5f334ad4c26c933e4f24794eb5bddf5b0"},
  lilactown/helix #:mvn{:version "0.1.0"},
  medley/medley #:mvn{:version "1.3.0"},
  nubank/workspaces #:mvn{:version "1.0.15"},
  org.clojure/clojure #:mvn{:version "1.10.1"},
  org.clojure/clojurescript #:mvn{:version "1.10.773"},
  org.clojure/core.async #:mvn{:version "0.7.559"},
  thheller/shadow-cljs #:mvn{:version "2.11.23"}},
 :paths ["src" "test"]}
