{:deps
 {camel-snake-kebab/camel-snake-kebab #:mvn{:version "0.4.1"},
  cljs-ajax/cljs-ajax #:mvn{:version "0.8.0"},
  codox/codox #:mvn{:version "0.10.7"},
  com.stuartsierra/dependency #:mvn{:version "1.0.0"},
  funcool/promesa #:mvn{:version "5.1.0"},
  hodgepodge/hodgepodge #:mvn{:version "0.1.3"},
  keechma.next/toolbox
  {:git/url "https://github.com/keechma/keechma-next-toolbox.git",
   :sha "0c605f8e36c51463e433f3130441bd663ae008e6"},
  lilactown/helix #:mvn{:version "0.1.0"},
  medley/medley #:mvn{:version "1.2.0"},
  nubank/workspaces #:mvn{:version "1.0.15"},
  org.clojure/clojure #:mvn{:version "1.10.1"},
  org.clojure/clojurescript #:mvn{:version "1.10.773"},
  org.clojure/core.async #:mvn{:version "0.7.559"},
  thheller/shadow-cljs #:mvn{:version "2.11.23"}},
 :paths ["src" "test"]}
